html, body {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: black;
  font-family: 'Catamaran', sans-serif;
  height: 100%;
}

em {
  font-style: normal;
  font-weight: bold;
}

h1 {
  margin: -20px -20px 20px -20px;
  padding: 10px;
  font-size: 125%;
  color: #4f4f4f;
  font-weight: bold;
  background-color: #f0f0f0f2;
  border-bottom: 1px solid #d2d2d2;
  position: sticky;
  top: 0px;
  z-index: 10;
}

h2 {
  font-size: 14px;
}

.pdf {
  background-image: url(/Images/page_white_acrobat.png);
  padding-left: 20px;
  background-position: left top;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.main {
  background: white;
  position: relative;
  line-height: 130%;
}


.topBar {
  width: 100%;
  background-color: #83003c;
  text-align: right;
  font-weight: bold;
  z-index: -1;
  border-bottom: 10px solid #efefef;
  padding-top: 10px;
}

  .topBar a {
    color: White;
    font-size: 150%;
    margin-right: 15px;
  }

    .topBar a:hover {
      text-decoration: none;
    }

.content {
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 250px;
}

  .content p {
    margin: 10px 0px;
  }

.selectParent {
  cursor: pointer;
}

.menu {
  position: fixed;
  width: 250px;
  padding-top: 20px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 2px 7px 0px #01010140;
  z-index: 99;
}

  .menu ul li {
    list-style-type: none;
    padding: 10px;
    transition: 200ms all ease;
  }

    .menu ul li:hover {
      background-color: #83003c26;
    }

    .menu ul li .oi {
      margin-right: 5px;
    }

.subpages {
  margin-left: 10px;
}

.menu > ul > li.selected > a {
  font-weight: bold;
}

.subNav {
  margin-left: 10px;
}

.menu a {
  display: block;
  padding: 3px 0px 3px 2px;
  color: #83003c;
  text-decoration: none;
}

.menu h2 {
  color: #4f4f4f;
  font-weight: bold;
  font-size: 120%;
  background-color: #fed4d41f;
  border-bottom: 1px solid #d2d2d2;
  padding: 10px;
}


.footer {
  padding: 3px 0px;
  font-size: 80%;
  background-color: #83003C;
  color: White;
  clear: both;
  text-align: right;
  width: 100%;
}

  .footer p {
    margin-right: 10px;
  }

  .footer a:hover, .footer a {
    color: White;
    text-decoration: none;
  }

.defaultList {
  list-style-type: disc;
  margin: 10px;
}

  .defaultList li {
    margin-left: 10px;
    cursor: pointer;
  }

h3 {
  font-weight: normal;
  padding-left: 10px;
  font-weight: bold;
}

  h3:hover {
    text-decoration: underline;
  }

.showDescription h3 {
  background-color: #83003C;
  color: White;
}

.description {
  overflow: hidden;
  padding: 0px 10px;
  border-bottom: 1px solid #EFEFEF;
}

.searchResults h1 {
  font-size: 14px;
  margin: 0;
}

.searchResults p {
  margin: 0;
}

.searchResults .url {
  color: #ababab;
}

.searchResults li {
  margin-bottom: 20px;
}

.searchResults h1 a {
  text-decoration: none;
  color: #83003c;
}

.filters {
  padding: 10px 0;
}

.phone {
  font-size: 22px;
  margin: 30px 0px;
  color: #83003c;
}

.phone, .plaatsheader {
  text-align: center;
}

.phoneNumber {
  position: absolute;
  top: 28px;
  right: 10px;
  color: #83003c;
  font-weight: bold;
  background-image: url(/Images/call_20px.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  line-height: 20px;
}

.field {
  margin-bottom: 20px;
}


  .field label {
    font-weight: bold;
  }

.checkboxes {
  overflow: hidden;
}

  .checkboxes .field {
    float: left;
    margin-right: 20px;
  }

  .checkboxes .sort {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0 10px;
    width: 50px;
  }
/* List pages */
.list-item {
  border-bottom: 1px solid #efefef;
  padding: 10px;
  overflow: hidden;
}

  .list-item .unapproved {
    border-left: 5px solid red;
  }

  .list-item .approved {
    border-left: 5px solid green;
  }



.list-item-header {
  font-weight: bold;
  line-height: 150%;
}

  .list-item-header .oi {
    top: 3px;
    color:brown;
  }

.list-item .link-to-edit {
  color: #83003c;
}

.list-item > div {
  float: left;
}

.list-item > form > div {
  float: left;
}

.list-item .hasAlert,
.list-item .hasplaatsen {
  width: 10%;
}

.old {
  border-left: 5px solid brown;
}

.list-item .title {
  width: 35%;
}

.list-item .url {
  width: 35%;
  margin-right: 10px;
}


.list-item .lastmod {
  width: 15%;
  text-align: right;
}


.list-item .from {
  width: 35%;
  padding-right: 20px;
}

.list-item .to {
  width: 35%;
  padding-right: 20px;
}

.list-item .action {
  width: 25%;
}

.list-item .date {
  width: 30%;
}

.list-item .place {
  width: 40%;
}

.list-item .sender {
  width: 20%;
}

.list-item .date-created {
  text-align:right;
  width:30%;
}

.subpages {
  border-left: 5px solid #efefef;
}

.new-button {
  margin-top: 20px;
}

.alert-warning ul {
  margin-bottom: 0;
}

.panel {
  border: 2px solid #efefef;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
  overflow: hidden;
}

.actions {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

  .actions .btn {
    margin-right: 10px;
  }

.deleteform {
  display: inline-block;
}

.archive-tab {
  border-bottom: 5px solid #17a2b8;
  overflow: hidden;
}
.archive-tab.active {
  border-color: #6c757d;
}

.archive-toggle {
  margin-top: 10px;
  position: relative;
  bottom: -3px;
}

.inbox-button {
  float: left;
}

.archive-button{
  float:right;
}

  .archive-toggle .oi {
    top: 3px;
    margin-right:5px;
  }

.pagination{
  margin-top:10px;
}

.pagination .btn{
  margin-right: 5px;
}

.toolbar-top{
  margin-bottom: 20px;
  text-align:right;
}