html, body {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: black;
  font-family: 'Catamaran', sans-serif;
  height: 100%;
}

em {
  font-style: normal;
  font-weight: bold;
}

h1 {
  margin: 10px 0px 20px 0px;
  font-size: 200%;
  font-weight: bold;
}

h2 {
  font-size: 14px;
}

.pdf {
  background-image: url(/Images/page_white_acrobat.png);
  padding-left: 20px;
  background-position: left top;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.main {
  background: white;
  position: relative;
  line-height: 130%;
}

.footer {
  background-color: #efefef;
}

.topBar {
  width: 100%;
  background-color: #83003c;
  text-align: center;
  font-weight: bold;
  z-index: -1;
  border-bottom: 10px solid #efefef;
  padding-top: 10px;
}

  .topBar a {
    color: White;
    font-size: 150%;
  }

    .topBar a:hover {
      text-decoration: none;
    }

.content {
  padding: 20px;
  overflow: hidden;
  border-left: 2px solid #efefef;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 250px;
}

  .content p {
    margin: 10px 0px;
  }

.menu {
  position: relative;
  width: 250px;
  padding-top: 20px;
  float: left;
  clear: both;
}

  .menu ul li {
    list-style-type: none;
    padding: 10px;
  }

    .menu ul li a {
      border-bottom: 1px solid #83003c4a;
    }

.subpages {
  margin-left: 10px;
}

.menu > ul > li.selected > a {
  font-weight: bold;
}

.subNav {
  margin-left: 10px;
}

.menu a {
  display: block;
  padding: 3px 0px 3px 2px;
  color: #83003c;
  text-decoration: none;
}


.viewPage {
  position: absolute;
  top: 30px;
  right: 40px;
}

.footer {
  padding: 3px 0px;
  font-size: 80%;
  background-color: #83003C;
  color: White;
  clear: both;
  margin: 10px -10px 0px -10px;
  text-align: right;
}

  .footer p {
    margin-right: 10px;
  }

  .footer a:hover, .footer a {
    color: White;
    text-decoration: none;
  }

.defaultList {
  list-style-type: disc;
  margin: 10px;
}

  .defaultList li {
    margin-left: 10px;
    cursor: pointer;
  }

h3 {
  font-weight: normal;
  padding-left: 10px;
  font-weight: bold;
}

  h3:hover {
    text-decoration: underline;
  }

.showDescription h3 {
  background-color: #83003C;
  color: White;
}

.description {
  overflow: hidden;
  padding: 0px 10px;
  border-bottom: 1px solid #EFEFEF;
}

.searchResults h1 {
  font-size: 14px;
  margin: 0;
}

.searchResults p {
  margin: 0;
}

.searchResults .url {
  color: #ababab;
}

.searchResults li {
  margin-bottom: 20px;
}

.searchResults h1 a {
  text-decoration: none;
  color: #83003c;
}

.phone {
  font-size: 22px;
  margin: 30px 0px;
  color: #83003c;
}

.phone, .plaatsheader {
  text-align: center;
}

.phoneNumber {
  position: absolute;
  top: 28px;
  right: 10px;
  color: #83003c;
  font-weight: bold;
  background-image: url(/Images/call_20px.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  line-height: 20px;
}

.field {
  margin-bottom: 20px;
}


  .field label {
    font-weight: bold;
  }

.checkboxes {
  overflow: hidden;
}

  .checkboxes .field {
    float: left;
    margin-right: 20px;
  }
/* List pages */
.list-item {
  border-bottom: 1px solid #efefef;
  padding: 10px;
  clear: both;
  overflow: hidden;
}

.list-item-header {
  font-weight: bold;
}

.list-item .link-to-edit {
  color: #83003c;
}

.list-item > div {
  float: left;
}

.list-item > form > div {
  float: left;
}

.list-item .title {
  width: 50%;
}

.list-item .url {
  width: 40%;
}

.list-item .from {
  width: 35%;
  padding-right: 20px;
}

.list-item .to {
  width: 35%;
  padding-right: 20px;
}

.list-item .action {
  width: 25%;
}

.subpages {
  border-left: 5px solid #efefef;
}

.new-button {
  margin-top: 20px;
}

.alert-warning ul {
  margin-bottom: 0;
}

.imageUploadForm {
  border: 2px solid #efefef;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
  overflow: hidden;
}

.imagePreview {
  margin-top: 10px;
}
