html
{
  height: 100%;
}
body
{
  color: black;
  font-family: Tahoma,arial;
  font-size: 80%;
  height: 100%;
}
em
{
  font-style: normal;
  font-weight: bold;
}
.main
{
  background: white;
  width: 600px;
  position: relative;
  margin: 110px auto 0px auto;
  background-repeat: repeat-y;
  background-position: -1px 0px;
  padding: 20px 10px 0px 10px;
  line-height: 130%;  
  border-left: 1px solid #83003c;
  border-right: 1px solid #83003c;
}

.content, .menu, .footer
{
  background-color: #efefef;
}
.searchText
{
  color: White;
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
}

.topBar
{
  position: absolute;
  top: 14px;
  left: 0px;
  width: 100%;
  height: 86px;
  background-color: #83003c;
  text-align: center;
  font-weight: bold;
  z-index: -1;
  border-bottom: 10px solid #efefef;
}
.topBar a
{
  color: white;
  text-decoration: none;
}
#tabs
{
  position: absolute;
  left: 0px;
  top: -36px;
}
.tabItem
{
  background-color: #83003C;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
  text-transform: capitalize;
}
.activeTab
{
  background-color: #efefef;
  color: #83003C;
}

.topBar h2
{
  font-size: 25px;
  margin: 17px 0px 0px -250px;
}
.MOlogo
{
  position: absolute;
  top: -80px;
  right: 0px;
  z-index: 2;
}
.content
{
  padding: 20px;
  overflow: hidden;
  clear: both;
}
.content p
{
  margin: 10px 0px;
}

h1
{
  margin: 10px 0px;
  font-weight: bold;
  font-size: 18px;
}

h2
{
  margin: 5px 0px;
  font-size: 14px;
}
#header
{
  position: absolute;
  padding: 10px;
  top: -85px;
  right: -300px;
  padding: 10px;
}
#breadcrumbs
{
  margin-bottom: 20px;
}
#breadcrumbs a
{
  color: #83003c;
}
.zoekForm input
{
  border: 1px solid #83003C;
}
.zoekForm .searchSubmit
{
  margin-left: 3px;
}
.menu
{
  position: absolute;
  left: -180px;
  width: 150px;
  padding: 10px;
  top: 55px;
}

.menu ul
{
  list-style-type: circle;
  margin-left: 10px;
}
.menu ul li
{
  border-bottom: 1px solid #83003C;
  padding: 5px 0;
  list-style-type: none;
}
.menu ul li:last-child
{
  border-bottom: 1px solid #efefef;
}

.menu a
{
  color: #83003c;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
.footer
{
  padding: 3px 0px;
  font-size: 80%;
  background-color: #83003C;
  color: White;
  clear: both;
  margin: 10px -10px 0px -10px;
  text-align: right;
}
.footer p
{
  margin-right: 10px;
}
.footer a:hover, .footer a
{
  color: White;
  text-decoration: none;
}
.defaultList
{
  list-style-type: disc;
  margin: 10px;
}
.defaultList li
{
  margin-left: 10px;
  cursor: pointer;
}
h3
{
  font-weight: normal;
  padding-left: 10px;
  font-weight: bold;
}
h3:hover
{
  text-decoration: underline;
}
.showDescription h3
{
  background-color: #83003C;
  color: White;
}
.description
{
  overflow: hidden;
  padding: 0px 10px;
  border-bottom: 1px solid #EFEFEF;
}
