.menu ul li.showOnMobile {
  display: none;
}


@media only screen and (max-width:768px) {
  .menu h2,
  #tabs {
    display: none;
  }

  .menu ul li.showOnMobile {
    display: block;
  }

  .goto-menu-mobile {
    position: fixed;
    top: 50vh;
    left: -55px;
    width: 50px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #efefef8c;
    text-indent: -9999p;
    padding: 15px 5px;
    cursor: pointer;
    border-radius: 18px 0 0 18px;
    display: block;
    text-align: center;
    font-weight: bold;
    z-index: 5;
    box-shadow: -3px 0px 4px 0px #d9d9d9;
    border: none;
    transition: all 0.4s cubic-bezier(0.39, 0.58, 0.57, 1);
    user-select: none;
  }

  .goto-menu-mobile.hidden {
    transform: translate3d(0,-100%,0);
  }

  .showMe .goto-menu-mobile {
    background-color: #efefef;
  }

  .menu {
    position: fixed;
    top: 3vh;
    bottom: 3vh;
    right: 0;
    width: 100vw;
    padding-left: 5px;
    height: auto;
    margin: 0;
    border: none;
    transform: translate3d(100%,0,0);
    transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
    z-index: 2;
    box-sizing: border-box;
  }

  .menuContent {
    background-color: #efefef;
    box-shadow: -3px 0px 4px 0px #d9d9d9;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    right: 15%;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .showMe .menu {
    transform: translate3d(20%,0,0);
  }

  .showMe {
    overflow: hidden;
  }

    .showMe #intercom-container {
      display: none;
    }

  .topBar {
    background: none;
    margin: 0px;
    padding: 0px;
  }

  #breadcrumbs {
    display: none;
  }

  .main {
    padding: 10px 10px 0px 10px;
    overflow: hidden;
  }

  .heading {
    display: flex;
    flex-direction: column;
  }

  .topBar .headerImage {
    position: relative;
  }

  .content-and-sidebar {
    flex-direction: column;
  }

  .phone {
    background-image: none;
    padding: 10px;
  }

  .phoneButton {
    display: none;
  }

  .veiligheidsregios {
    flex-direction: column;
  }

    .veiligheidsregios > div, .veiligheidsregios ul {
      padding-right: 0px;
      width: 100%;
    }

    .veiligheidsregios div {
      margin-bottom: 20px;
    }



  .breadcrumbs {
    display: none;
  }

  .zoekform-element {
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 24px;
  }

  .woordmerk {
    margin: 0px 10px 10px 10px;
    text-align: center;
  }

  .content {
    padding-top: 10px;
  }

  .zoekForm input {
    width: 200px;
  }
}


.hamburger {
  display: inline-block;
  position: relative;
  margin-right: 6px;
  width: 15px;
  height: 12px;
  vertical-align: 0px;
}

  .hamburger .bun,
  .hamburger .burger,
  .hamburger .toppings {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 2px solid;
    transition: all 0.3s ease;
  }

  .hamburger .toppings {
    top: 0;
  }

  .hamburger .burger {
    top: 50%;
    margin-top: -1px;
  }

  .hamburger .bun {
    top: 100%;
    margin-top: -2px;
  }

.showMe .hamburger {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

  .showMe .hamburger .toppings,
  .showMe .hamburger .bun {
    top: 50%;
    margin-top: -1px;
  }

  .showMe .hamburger .toppings {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .showMe .hamburger .burger {
    left: 50%;
    width: 0;
  }

  .showMe .hamburger .bun {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
