#suggests
{
    position:absolute;
    width: 200px;
    top: 32px;
    right: 7px;
    background-color:White;
    border:1px solid black;
}

.suggest-hidden
{
    display:none;
}

#suggests a
{
    text-decoration:none;
    color:Black;
    display:block;
    padding: 0px 2px;
    line-height: 18px;
    font-size: 11px;
}

#suggests a:hover
{
    background-color:Gray;
}
