#suggests
{
  position: absolute;
  width: 196px;
  top: 37px;
  left: 12px;
  background-color: white;
  border: 1px solid #ababab;
}

.suggest-hidden
{
  display: none;
}

#suggests a
{
  text-decoration: none;
  color: Black;
  display: block;
  padding: 0px 2px;
  line-height: 18px;
  font-size: 11px;
}

#suggests a:hover
{
  background-color: Gray;
}
