@using Meldpunt.Models;
@using Meldpunt.Utils;
@model IEnumerable<SearchResult>
@{
  /**/

  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

@section scripts{
  <link rel="stylesheet" href="/css/admin-images.css?v=@ViewBag.AppVersion">
}
<h1>Beheer afbeeldingen <form class="on-page-search" method="get"><input type="text" name="q" /></form></h1>


@if (!ViewData.ModelState.IsValid)
{
  <div class="alert alert-warning">
    @Html.ValidationSummary()
  </div>
}


<form method="post" class="panel" enctype="multipart/form-data">
  <div class="form-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="file" name="file" required>
      <label class="custom-file-label" for="file">Upload nieuwe afbeelding...</label>
    </div>
    <img id="imagePreview" class="imagePreview float-right" src="~/Images/admin/upload_image.png" alt="upload image" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Upload</button>
  </div>
</form>
<div class="list-item list-item-header">
  <div class="name">Naam</div>
  <div class="url">Url</div>
  <div class="image">Voorbeeld</div>
  <div class="actions"></div>
</div>

@foreach (SearchResult p in Model)
{
  @pageItem(p);
}



<div class="panel">
  <p>
    Afbeeldingen kunnen tegen elk formaat worden uitgeleverd aan de website. Hiervoor gebruik je de parameters:
    <ul>
      <li>- width</li>
      <li>- height</li>
      <li>- mode</li>
    </ul>
  </p>
  <p>
    Width en height spreken voor zich. Mode is de manier hoe de afbeelding de gegeven afmetingen toepast. Zie het plaatje hieronder voor uitleg:
    <br>
    <br>
    <br>
    <img src="http://z.zr.io/rw/diagrams/resizing-modes.png" />
    <a href="https://imageresizing.net/docs/basics">Uitleg</a>
  </p>

</div>


@helper pageItem(SearchResult image)
{
  <div class="list-item">
    <div class="name">@image.Title</div>
    <div class="url"><a target="_blank" href="/image?name=@image.Title">/image?name=@image.Title</a></div>
    <div class="image"><a href="/image?name=@image.Title&width=80&height=45"><img src="/image?name=@image.Title&width=80&height=45" /></a></div>
    <div class="actions"><a class="btn btn-danger" data-action-confirm href="/admin/deleteImage?filename=@image.Title">Verwijderen</a></div>
  </div>
}
