@using Meldpunt.Models;
@using Meldpunt.Utils;
@model IEnumerable<ImageModel>
@{
  /**/

  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Beheer pagina's</h1>

<div class="list-item list-item-header">
  <div class="title">Titel</div>
  <div class="url">Url</div>
</div>

@foreach (ImageModel p in Model.OrderByDescending(i=> i.Name))
{
  @pageItem(p);
}

<a href="/admin/newpage" class="btn btn-info new-button js-new-page">Nieuwe pagina</a>

@helper pageItem(ImageModel image)
{
  <div class="list-item">
    <div class="title">@image.Name</div>
    <div class="url"><img src="/getimage?name=@image.Name" /></div>
  </div> 
}
