@using Meldpunt.Models;
@using Meldpunt.Utils;
@model List<SearchResultModel>
@{
  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Zoek pagina of plaats</h1>
<form method="get">
  <input type="text" class="form-control" placeholder="b.v. Wespen of Amsterdam" name="q" value="@Request.QueryString["q"]" />
</form>
@foreach(var result in Model)
{
  <div class="list-item">
    <div class="title">@result.Title</div>
    <div class="url">@result.Url</div>
    <div class="action">@result.Type</div>
  </div>
}