@using Meldpunt.Models;
@using Meldpunt.Utils;
@model List<PageModel>
@{
  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Zoek pagina of plaats</h1>
<input type="text" class="form-control" placeholder="b.v. Wespen of Amsterdam" />