@using Meldpunt.Models;
@using Meldpunt.Utils;
@model List<PageModel>
  @{
    ViewBag.Title = "Admin";
    var locations = ViewBag.Locations;
    Layout = "~/Views/Shared/_Admin.cshtml";
  }

  <h1>Beheer plaatsen</h1>

  <div class="list-item list-item-header">
    <div class="title">Titel</div>
    <div class="url">Url</div>
  </div>

  @foreach (var kv in locations)
  {
    string url = ((string)kv.Key).XmlSafe();
    <div class="list-item">
      <div class="title"><a class="link-to-edit" href="/admin/editplaats/@url">@kv.Key</a></div>
      <div class="url">@url</div>
    </div>
  }


  @section menu{
    <div class="menu">
      <ul>
        <li><a href="/admin/pages">Pagina's</a></li>
        <li><a href="/admin/places">Plaatsen</a></li>
        <li><a href="/admin/redirects">Redirects</a></li>
      </ul>
    </div>
  }
