/Meldpuntongedierte/Meldpuntongedierte/Properties
/Meldpuntongedierte/Meldpuntongedierte/aspnet_client
/Meldpuntongedierte/Meldpuntongedierte/bin
/Meldpuntongedierte/Meldpuntongedierte/obj
/Meldpuntongedierte/Meldpuntongedierte/Web.config
/deploy
/Meldpuntongedierte/Meldpuntongedierte.suo
/Meldpuntongedierte/Backup
