/Meldpuntongedierte/Meldpuntongedierte/Properties
/Meldpuntongedierte/Meldpuntongedierte/aspnet_client
/Meldpuntongedierte/Meldpuntongedierte/bin
/Meldpuntongedierte/Meldpuntongedierte/obj
/Meldpuntongedierte/Meldpuntongedierte/Web.config
/deploy
/Meldpuntongedierte/Meldpuntongedierte.suo
/Meldpuntongedierte/Backup
/Meldpuntongedierte/Meldpuntongedierte/App_Data/index
/Meldpuntongedierte/packages
/backup
/Meldpuntongedierte/.vs/Meldpuntongedierte/v15/.suo
/Meldpuntongedierte/Meldpuntongedierte/Afbeeldingen
/Meldpuntongedierte/Meldpuntongedierte/Meldpuntongedierte.csproj.user
/Meldpuntongedierte/Meldpuntongedierte/imagecache
/Meldpuntongedierte/.vs
/Meldpuntongedierte/Meldpuntongedierte/Config
