@model Meldpunt.Models.PlaatsModel
@{
  ViewBag.Title = "Meldpuntongedierte in " + Model;
  ViewBag.Url = Model.Name;
}

<h1>Helaas, de plaats die u zoekt is niet gevonden.</h1>
<p>Indien een van de bovenstaande diensten overeen komt met uw wens kunt u bellen met:</p>
<h1>Meldpunt Ongedierte @Model.Name: 0900-2556677</h1>
<p>Kosten van bestrijding(en) kunnen ook via dit telefoonnummer opgevraagd worden.</p>

 <p>Alvorens u contact opneemt voor het maken van een afspraak willen wij u graag op het volgende wijzen:</p>

<p>Ondanks dat vele dierplagen vaak alleen kunnen worden bestreden door de juiste vakkennis  en specifieke middelen, kunnen sommige problemen eenvoudig opgelost worden door het inwinnen van de juiste informatie. Om u op weg te helpen, hebben wij bovenstaand een en ander uiteen gezet onder <a href="#">Ongedierte in Huis</a>. U vindt hier informatie over iedere vorm van ongedierte welke veel voorkomt in en om het huis. Tevens vind u nuttige tips over wat u zelf kunt doen en belangrijke informatie over wat u vooral niet moet doen.</p>



