@using Meldpunt.Models;

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>@ViewBag.Title - Meldpunt ongedierte</title>
  <meta http-equiv="Content-Type" lang="nl" content="text/html; charset=utf-8">
  <meta name="description" lang="nl" content="@ViewBag.Description Meldpunt ongedierte 0900-2556677">
  <meta name="keywords" lang="nl" content="meldpunt ongedierte, wespen, houtworm, muizen, ratten, vlooien, papiervisjes, wespen bestrijding, wespen overlast, wespennest, wespenest, plaag, wespenplaag, vlooienplaag. ">
  <link type="text/css" rel="stylesheet" href="/css/reset.css">  
  <link type="text/css" rel="stylesheet" href="/css/admin.css">  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  <script type="text/javascript" src="/Scripts/admin.js"></script>
  <script type="text/javascript" src="/Scripts/tinymce/tinymce.min.js"></script>
  <script type="text/javascript">
    tinymce.init({
      selector: "textarea",
      encoding: "xml"
    });
</script>
</head>
<body>

   <div class="topBar">
   <h2>Beheer Meldpunt ongedierte</h2>
    <div id="tabholder"></div>
  </div>
  
  <div id="main" class="main">    
    @RenderSection("menu",false)        
    <div class="content">
      @RenderBody()
    </div>
  
    <div class="footer">
      <p class="disclaimer">&#160; @*<a href="/sitemap">sitemap</a>*@</p>
    </div>
  </div>
</body>
</html>
