@using Meldpunt.Models;

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>@ViewBag.Title - Meldpunt Ongedierte</title>
  <meta http-equiv="Content-Type" lang="nl" content="text/html; charset=utf-8">
  <meta name="description" lang="nl" content="@ViewBag.Description Meldpunt Ongedierte 0900-2556677">
  <meta name="keywords" lang="nl" content="meldpunt ongedierte, wespen, houtworm, muizen, ratten, vlooien, papiervisjes, wespen bestrijding, wespen overlast, wespennest, wespenest, plaag, wespenplaag, vlooienplaag. ">
  <!-- Latest compiled and minified CSS -->
  <link type="text/css" rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/css/admin.css">

  <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Catamaran:400,700,900" rel="stylesheet">

  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>

  <script type="text/javascript" src="/Scripts/admin.js"></script>
  @*<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>*@
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=6a8u33o0uzuhj2tm8753gqkkq998o54gqmz2fc4tee148059"></script>
  <script type="text/javascript">
    tinymce.init({
      selector: ".richtext",
      relative_urls: false,
      remove_script_host: true,
      height: 400,
      image_class_list: [
        { title: 'none', value: '' },
        { title: 'left', value: 'left' },
        { title: 'right', value: 'right' }
      ],
      image_title: true,
      plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
      ],
      toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
  </script>
</head>
<body>

	<div class="topBar">
		<h2><a href="/admin">Beheer Meldpunt Ongedierte</a></h2>
		<div id="tabholder"></div>
	</div>

	<div id="main" class="main">
		@RenderSection("menu", false)
		<div class="content">
			@RenderBody()
		</div>

		<div class="footer">
			<p class="disclaimer">&#160; @*<a href="/sitemap">sitemap</a>*@</p>
		</div>
	</div>
</body>
</html>
