<div class="m-modal hidden">
  <div class="background"></div>
  <div class="popup">
    <h2>Zoek pagina</h2>
    <div class="innerPopup">
      <input type="text" placeholder="zoek pagina.." class="form-control" onkeyup="pageSuggest.getSuggests(event,this)" />
      <div id="suggests" class="suggest-results"></div>
    </div>
  </div>
</div>