@using Meldpunt.Models;
@model SearchResultModel

@{
  int numOfPages = Model.Total / SearchResultModel.PageSize;
  int currentPage = 0;
  Int32.TryParse(Request.QueryString["page"], out currentPage);

  // copy querystring so we can manipulate it
  IDictionary<string,object> qs = new Dictionary<string, object>();
  Request.QueryString.CopyTo(qs,true);
  qs.Remove("page");


  for (int i = 0; i <= numOfPages; i++)
  {
    string className = "btn-secondary";
    if (currentPage == i)
    {
      className = "btn-info";
    }
    qs["page"] = i;

    <a class="btn  @className" href="?@string.Join("&", qs.Select(kv => kv.Key + "=" + kv.Value))">@(i + 1)</a>
  }
}