@model SearchResultModel
@{
  ViewBag.Title = "Zoeken - Meldpunt Ongedierte";
}

@if (Model.Results.Any())
{
  <ul class="searchResults">
    @foreach (SearchResult result in Model.Results)
    {
      <li>
        <article>
          <h1><a href="@result.Url">@result.Title</a></h1>
          <p>@result.Intro</p>
          <p class="url">@result.Url</p>
        </article>
      </li>
    }
  </ul>
}
else
{
  <p class="no-results">Sorry, geen resultaten gevonden.</p>
}