<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="datafolder" value="/app_data/content" />    
  </appSettings>
  <system.web>
    <!--<httpRuntime maxRequestLength="20000" />-->
    <compilation debug="true" />
    <authentication mode="Windows" />
    <customErrors mode="Off">
            <error redirect="/Default.aspx" statusCode="404" />
        </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Default.aspx" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/Default.aspx" responseMode="ExecuteURL" />
    </httpErrors>        
  </system.webServer>
</configuration>