@model ContentPageModel
@{
  ViewBag.Title = "Login";
  List<ContentPageModel> subNav = ViewBag.SubNav as List<ContentPageModel>;
}

<form method="post" class="login-form">
  <input class="form-field" type="text" name="username" placeholder="gebruikersnaam" />
  <input class="form-field" type="password" name="password" />
  <input class="form-field" type="submit" value="login" />
</form>
