@using Meldpunt.Models;
@model BlogModel
@{
  ViewBag.Title = Model.Title + " - Meldpunt Ongedierte";
  ViewBag.Description = Model.MetaDescription;
  ViewBag.Url = Model.Url;
  ViewBag.BreadCrumbs = new List<BreadCrumb>() {
    new BreadCrumb { Title = "Blog", Url = "/blog" },
    new BreadCrumb { Title = Model.Title, Url = "/blog/" + Model.UrlPart }
    };
  List<PageModel> homeMenu = ViewBag.HomeMenuItems as List<PageModel>;
}

@section style{
  <link type="text/css" rel="stylesheet" href="/css/blog.css?v=@ViewBag.AppVersion">
}

<article class="blog-article">
  <h1>@Model.Title</h1>
  <date>@Model.Published.Value.ToString("D")</date>
  @Html.Raw(Model.Content)
</article>
