<div id="cookie">
  <h2>Deze website gebruikt cookies</h2>
  <p>
    Wij gebruiken cookies om ervoor te zorgen dat onze website voor de bezoeker beter werkt. 
    Daarnaast gebruiken wij cookies voor onze webstatistieken.
  </p>
  <button>ok</button>
</div>