@using Meldpunt.Models;
@model PageModel
@{
  ViewBag.Title = "Home Page";
}


@Html.Raw(Model.Content)

@section menu{
  @foreach(PageModel item in Model.SubPages){
    <li><a href="@item.Url">@item.Title</a></li>
  }
}