@using Meldpunt.Models;
@model PageModel
@{
  ViewBag.Title = "Home Page";
  ViewBag.Url = Model.Url;
}


@Html.Raw(Model.Content)

@section menu{
  @if(Model.SubPages.Any()){
  <div class="menu">
      <ul> 
        @foreach(PageModel item in Model.SubPages){
          <li><a href="@item.Url">@item.Title</a></li>
        }
    </ul>
  </div>
    }
}