@{
  ViewBag.Title = "Home Page";
}
<h1>Welkom bij Centraal Meldpunt Ongedierte.</h1>
<p class="firstAlinea">Voor iedere gemeente hanteren wij dezelfde professionele richtlijnen en werkwijze met betrekking tot de bestrijding van ongedierte.</p>
<p>Indien een bestrijding gewenst is, houdt u dan alstublieft rekening met het volgende:</p>
<ul class="descriptionList">
  <li>Onze dienstverlening is uitsluitend bedoeld voor particuliere huishoudens. Uitzonderingen maken wij voor kinderdagverblijven, scholen en opvanghuizen. Bedrijven kunnen alleen bij ons terecht als het een éénmalige aktie betreft. Wanneer een doorlopende plaagdierbeheersing vereist is, kunt u een contract aangaan met een daarvoor gespecialiseerd bedrijf.</li>  
  <li>Wij beperken ons alleen tot ongedierte welke de volksgezondheid kan schaden of voor direct gevaar kan zorgen. Dit betreft: <a href="#">ratten</a>, <a href="#">muizen</a>, <a href="#">wespen</a>, <a href="#">mieren</a>, <a href="#">kakkerlakken</a>, <a href="#">vlooien</a> en <a href="#">bedwantsen</a>. Lees meer hierover op onze <a href="/volksgezondheid">pagina over volksgezondheids</a>.</li>
  <li>LET OP! Hommels en bijen hebben - zeer terecht - een beschermde status. Doet u alleen een beroep op ons wanneer het voor zeer veel hinder dan wel gevaar zorgt. ( Kinderen, allergieen etc.)</li>
</ul>


@*<p class="caution">
LET OP! Hommels en bijen hebben - zeer terecht - een beschermde status. Doet u 
alleen een beroep op ons wanneer het voor zeer veel hinder dan wel gevaar zorgt.
( Kinderen, allergieen etc.)
  </p>*@