@using Meldpunt.Utils
@model Meldpunt.Models.PlaatsModel
@{
  // Default values
  ViewBag.HeaderTitle = "Meldpunt ongedierte";
  ViewBag.Title = "Ongediertebestrijding " + Model.Gemeentenaam + " - Meldpunt Ongedierte " + Model.Gemeentenaam;
  ViewBag.Description = String.Format("Als u inwoner bent van de gemeente {0} en u heeft te maken met overlast van ongedierte, neem dan contact op met ons meldpunt via het servicenummer 0900 - 2556677", Model.Gemeentenaam);
  
  // Curated items
  if(!String.IsNullOrEmpty(Model.Title)){
    ViewBag.Title = Model.Title;
  }
  
  if (!String.IsNullOrWhiteSpace(Model.MetaDescription)) {
    ViewBag.Description = Model.MetaDescription;
  }
  ViewBag.Url = Model.Gemeentenaam;
}

@section menu{
  <div class="menu">
      <ul>        
        <li><a href="/ongedierte-in-huis/muizen/muizen-in-huis">Muizen in huis</a></li>
        <li><a href="/ongedierte-in-huis/ratten">Rattenbestrijding</a></li>
        <li><a href="/ongedierte-in-huis/mieren/mieren-in-huis">Mieren in huis</a></li>
        <li><a href="/ongedierte-in-huis/wespen/wespennest-verwijderen">Wespennest verwijderen</a></li>
        <li><a href="/stankoverlast">Stankoverlast</a></li>
        <li><a href="/volksgezondheid">Ongedierte en volksgezondheid</a></li>
        <li><a href="/wettelijke-kaders-en-verantwoordelijkheden">Wettelijke kaders en verantwoordelijkheden</a></li>
      </ul>
    </div>
}


@if (!String.IsNullOrWhiteSpace(Model.Content) && Model.Published)
{  
  @Html.Raw(Model.Content)
}
else
{
  <h1 class="plaatsheader">Meldpunt Ongediertebestrijding @Model.Gemeentenaam</h1>
  <div class="phone">0900-2800200</div>

  <p>Als u inwoner bent van de gemeente @Model.Gemeentenaam en u heeft te maken met overlast van ongedierte, dan kunt u contact opnemen met ons meldpunt via bovenstaand servicenummer.</p>

  <b>Let op!</b>

  <p>Afspraken via dit telefoonnummer kunnen alleen betrekking hebben op onderstaande soorten bestrijdingen, te weten;</p>
   
  <ul class="defaultList">
    <li id="ratten">
      <h3>Rattenbestrijding
      </h3>
      <div class="description">
        Ratten kunnen op diverse manieren bestreden worden. Om de beste methode te bepalen
              zal de bestrijdingsdeskundige eerst een inspectie uitvoeren en de situatie in kaart
              brengen. Vervolgens kan de bestrijding in gang worden gezet. Daarna worden er eventuele
              maatregelen besproken die kunnen voorkomen dat er in de toekomst opnieuw sprake
              is van een rattenplaag.
      </div>
    </li>
    <li id="muizen">
      <h3>Muizenbestrijding
      </h3>
      <div class="description">
        Muizen kunnen op diverse manieren bestreden worden. Om de beste methode te bepalen
              zal de bestrijdingsdeskundige eerst een inspectie uitvoeren en de situatie in kaart
              brengen. Vervolgens kan de bestrijding in gang worden gezet. Daarna worden er eventuele
              maatregelen besproken die kunnen voorkomen dat er in de toekomst opnieuw sprake
              is van een muizenplaag.
      </div>
    </li>
    <li id="kakkerlakken">
      <h3>Kakkerlakkenbestrijding
      </h3>
      <div class="description">
        Kakkerlakken kunnen bestreden worden met een insecticide d.m.v. een lokaasgel. De
              bestrijdingsdeskundige brengt dit middel in de door hem gevonden strategische plaatsen,
              waardoor de plaag in haar geheel geïnfecteerd wordt. Er zijn geen voorzorgsmaatregelen
              nodig bij een kakkerlakkenbestrijding.
      </div>
    </li>
    <li id="wespen">
      <h3>Wespenbestrijding
      </h3>
      <div class="description">
        Wespen kunnen bestreden worden met een insecticide d.m.v. lage druktoepassing. De
              bestrijdingsdeskundige brengt dit middel in de door hem gevonden nestingang, waardoor
              de kolonie in haar geheel geïnfecteerd wordt. Er zijn geen voorzorgsmaatregelen
              nodig bij een wespenbestrijding.
      </div>
    </li>
    <li id="mieren">
      <h3>Mierenbestrijding
      </h3>
      <div class="description">
        Mieren kunnen bestreden worden met een insecticide d.m.v. lage druktoepassing. De
              bestrijdingsdeskundige brengt dit middel in de door hem gevonden nestingangen, waardoor
              de kolonie in haar geheel geïnfecteerd wordt. Indien de openingen niet gevonden
              kunnen worden, kan er behandeld worden met een lokaasgel. Deze gel wordt uit een
              kitpatroon gedoseerd. Er zijn geen voorzorgsmaatregelen nodig bij een mierenbestrijding.
      </div>
    </li>
  </ul>

  <p>Houdt u er rekening mee dat aan iedere vorm van bestrijding kosten zijn verbonden.</p>

  <p>Voor overig ongedierte of plaagdieren brengen wij u in contact met onze bestrijdingsdeskundige. Indien nodig kan hij bij u langskomen voor een advies. </p>

  <b>Alvorens u contact opneemt voor het maken van een afspraak willen wij u graag op het volgende wijzen:</b>

  <p>Ondanks dat vele dierplagen vaak alleen kunnen worden bestreden met de juiste vakkennis  en specifieke middelen, kunnen sommige problemen eenvoudig opgelost worden door het inwinnen van de juiste informatie. Meldpunt ongedierte helpt u op weg met de informatie die u zoekt. Bovenaan deze pagina vindt u <a href="/ongedierte-in-huis">ongedierte in huis</a>. U vindt hier informatie over iedere vorm van ongedierte welke veel voorkomt in en om het huis. Tevens vindt u nuttige tips over wat u zelf kunt doen en belangrijke informatie over wat u vooral niet moet doen.</p>

  <b>Voor algemene voorlichting kunt u ons ook benaderen via <a href="mailto:info@meldpuntongedierte.nl">info@meldpuntongedierte.nl</a></b>

  <p>
    <b>Voor ongediertebestrijding namens een bedrijf, instelling of woningcorporatie, wendt u zich voorafgaand tot <a href="/ongediertebestrijding">onze werkwijze</a>.</b>
  </p>
}
